<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Open+Sans" rel="stylesheet">
    <title>Jet Fuel</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <form action="index.html" method="post">
      <input class="url-component" type="text" placeholder="Enter URL" />
      <input class="submit" type="submit" value="Submit" />
    </form>
    <button class="sort">sort by date</button>
    <section id="urls"></section>
    <script src="main.bundle.js"></script>
  </body>
</html>
