body {
  background-image: linear-gradient(-90deg, #4b40b3 -10%, #60B2A0 100%);
}

h1 {
  color: #141130;
  font-family: 'Limelight', serif;
  font-size: 50px;
  margin: 50px 0;
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.url-component {
  background: #EEE;
  border: 2px solid #332c7b;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
  width: 350px;
}

.search-input {
  background: #EEE;
  border: 2px solid #332c7b;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 8px;
}

.submit-button, .sort-button-date, .sort-clicks-button {
  color: #141130;
  background: #5a5a5e;
  border: 2px solid #141130;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: 5px;
  padding: 10px;
  outline: none;
}

.submit-button:hover, .sort-button-date:hover, .sort-clicks-button:hover {
  background: #737378;
  transition: 0.3s;
}

#urls {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.url-info {
  display: flex;
  flex-direction: row;
}

a, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
}

a {
  color: darken(#4b40b3, 20%);
}

a:hover {
  color: #4b40b3;
  font-weight: bold;
}
